* {
    margin: 0 auto;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,100,205,1) 25%, rgba(0,212,255,1) 100%);
}

.header {
    background: url("https://phonoteka.org/uploads/posts/2021-04/1618945000_26-phonoteka_org-p-bezhevii-fon-s-knigami-29.jpg");
    background-size: 100%;
    height: 120px;
    padding: 20px 0 25px 0;
    display: grid;
    width: 100vw;
}

.title {
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.input {
    width: 280px;
    height: 30px;
}

.button {
    height: 37px;
}

.selectorTitle {
    float: left;
    color: white;
    text-shadow: black 1px 1px 1px;
    font-family: sans-serif;
}

.selector {
    float: left;
    margin-right: 10px;
    margin-top: 12px;
}

.selectorField {
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
}

.loadingWheel {
    margin-top: 10px;
    width: 130px;
    height: 130px;
}

.inscription {
    margin-top: 100px;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding: 180px 160px 180px 160px;
    border: 1px solid black;
    border-style: double;
    width: 250px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,42,189,1) 39%, rgba(0,212,255,1) 100%);
}

.bookCard {
    width: 240px;
    border: 1px solid dimgrey;
    font-family: sans-serif;
    padding: 10px;
    margin: 5px;
    background: white;
}

.bookCover {
    width: 130px;
    margin-left: 55px;
    margin-bottom: 10px;
    box-shadow: grey 5px 5px 10px;
    margin-top: 10px;
}

.categoryCard {
    color: dimgrey;
    text-decoration: underline;
    font-size: 15px;
}

.titleCard {
    font-size: 18px;
    font-weight: bold;
}

.authorsList {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.booksListContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.totalItemsBookslist {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.loadMoreBooksList {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}

.buttonBooksList {
    font-size: 20px;
    background-color: aqua;
    width: 300px;
    margin-top: 30px;
    margin-left: calc(50vw - 375px);
    height: 30px;
}

.chosenBookInfo {
    width: 1060px;
    border: 1px solid dimgrey;
    font-family: sans-serif;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-areas:
    "image content";
    grid-template-columns: 250px 1fr;
    background: rgb(227,212,212);
    background: linear-gradient(90deg, rgba(227,212,212,1) 0%, rgba(200,218,183,1) 7%, rgba(179,223,160,1) 16%, rgba(153,229,133,1) 24%, rgba(131,234,110,1) 35%, rgba(125,235,104,1) 53%, rgba(114,231,94,1) 66%, rgba(105,227,85,1) 81%, rgba(58,207,40,1) 100%);
}

@media (max-width: 900px) {
    .chosenBookInfo {
        width: 600px;
    }
    .inscription {
        width: 500px;
        padding: 120px 60px 120px 60px;
    }
}

@media (max-width: 600px) {
    .chosenBookInfo {
        max-width: 600px;
        grid-template-areas:
        "image" 
        "content";
    }
    .inscription {
        max-width: calc(100vw - 10px);
        padding: 90px 0 90px 0;
    }
    body {
        max-height: calc(100vh - 40px);
    }
}

.bookCoverInfo {
    grid-area: image;
    width: 250px;
    box-shadow: grey 5px 5px 10px;
}

.contentInfo {
    grid-area: content;
    margin-left: 20px;
}

.categoriesListInfo {
    color: black;
    font-size: 15px;
    margin-left: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.titleInfo {
    font-size: 18px;
    font-weight: bold;
}

.authorsListInfo {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.description {
    margin-top: 5px;
    font-style: italic;
    font-size: 15px;
}

.buttonInfo {
    margin-top: 20px;
    height: 30px;
    width: 50px;
}

.gradient {
    border: 5px skyblue;
    border-style: groove;
}

a {
    text-decoration: none;
}

.follow {
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}